PORT=8000
MONGODB_URI=mongodb+srv://jaiminm304:jaimin6125@cluster0.gs5natp.mongodb.net  
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=useyours
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=useyours
REFRESH_TOKEN_EXPIRY=10d